@import url('https://fonts.googleapis.com/css?family=Catamaran:700|Poiret+One&display=swap');

.menu{
    padding: 20px;
    width: auto;
}
.brand{
    font-family: 'Poiret One', cursive;
    font-weight: 100;
    font-size: 2rem;
}
.brand>strong{
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}

@media (max-width: 500px){
    .brand{
        font-size: 1.7rem;
    }
}
@media (max-width: 430px){
    .brand{
        font-size: 1.5rem;
    }
}