.addPicture {
  width: 350px;
  height: 233.33px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  position: relative;
}
.loadingIndicator {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0px 0px 38px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 38px -13px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 38px -13px rgba(0, 0, 0, 0.75);
  border: 10px solid rgb(197, 197, 197);
  border-left: 10px solid rgb(12, 118, 240);
  border-radius: 100%;
  position: absolute;
  z-index: 10000;
  animation: loading 0.8s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.addPicture div {
  position: absolute;
}
.addPicture img {
  position: relative;
  filter: blur(3px);
  width: 350px;
  max-height: 233.33px;
}
.addPicture div form input {
  max-width: 200px;
}
