
.gallery{
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 12px;
    row-gap: 12px;
}

@media (max-width:1400px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1100px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1050px){
    .gallery{
        grid-template-columns: 2fr 2fr;
        column-gap: 20px;    
        
    }
}
@media (max-width:700px){
    .gallery{
        grid-template-columns: 1fr; 
        
    }
}
