.fullScreenFrame{
    background-color: #27282b95;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
}

.fullScreenFrame>img{
    max-width: 900px;
}
@media (max-width: 1200px){
    .fullScreenFrame>img{
        width: 70%;
    }
}
@media (max-width: 900px){
    .fullScreenFrame>img{
        width: 100%;
    }
}
.gallery{
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 12px;
    row-gap: 12px;
}
.imgFrame, .addFrame{
    width:350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.addFrame{
    background-color: #373940;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    transition: background-color ease-in 0.2s;
}
.addFrame:hover{
    background-color: #27282b;
}
.imgFrame>div{
    background-color: #2b79a770;
    color: white;
    position: absolute;
    top: 0;
    bottom:0;
    width: 100%;
    text-align: center;
    height:100%;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: opacity ease-in 0.2s;
    display: flex;
}
.actionIcon{
    font-size: 100px;
    cursor: pointer;
    align-self: center;
}
.deleteIcon{
    font-size: 70px;
}

.imgFrame>div:hover{
    opacity: 1;
}
@media (max-width:1400px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1100px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1050px){
    .gallery{
        grid-template-columns: 2fr 2fr;
        column-gap: 20px;    
        
    }
}
@media (max-width:700px){
    .gallery{
        grid-template-columns: 1fr; 
        
    }
}
