.pictureGrid{
  display: grid;
  margin-top: 10vh;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  align-items: center;
  justify-items: center;
}
.pictureGrid>div>.image{
  position: relative;
  top:0;
  left:0;
}
.pictureGrid>div>.watermark{
  position: absolute;
  z-index: 50;
}
@media (max-width:1136px){
  .pictureGrid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:758px){
  .pictureGrid{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }
  .pictureGrid>div>img{
    margin-top: 2vh;
  }
}

