.footer{
    padding: 30px;
    display:flex;
    padding-top: 200px;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-size: 70px;
    background-color: #414141;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.footer>a{
    color:#fff;
}
.footer>a>span{
    font-size: 20px;
}

@media(max-width:950px){
    .footer>a>span{
        display: none;
    }
}